/* цвет основного текста #757575 */
/* цвет вторичный #212121 */
/* цвет акцент #2196F3 */
/* цвет бекграунд #2F303A */

/* Стили для html */
:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --accent-color: #2196F3;
    --background-color: #2F303A;
}


body {
    background-color: #fff;
    color: var(--primary-text-color);
    font-family: Roboto,sans-serif;
    letter-spacing: 0.03em;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
.list {
    list-style: none;
}

/* header */
/* site-nav */

.logo {
    font-family: Raleway,sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}
.colorweb {
    color: var(--accent-color);
}
.colorstudio {
    color: #000000;
}
.colorstudio-second {
    color: #fff;
}

.site-nav a {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;
    
}
.site-nav a.current {
    color: var(--accent-color);
}

.site-nav a:hover,
.site-nav a:focus,
.contact-footer a:hover,
.contact-footer a:focus {
    color: var(--accent-color);
    
}
.contact a {
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
}
.contact a:hover,
.contact a:focus {
    color: var(--accent-color);
}

/* baner */
.baner {
    background-color: var(--background-color);
    text-align: center;
}
.baner-title {
    color: #fff;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* section */

.section-title {
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.section-team {
    background-color: #F5F4FA;
}

.section-team h3 {
    text-transform:capitalize
}
.title-box {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    text-transform: none;
}

.title-card {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.comand-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

/* footer */
.footer {
    background-color: var(--background-color);
}

.contact-footer a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
.footer-address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    font-style: normal;
}
.footer-address p {
    color: #FFFFFF;
    
}

/* button */
.button {
    color: #fff;
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    }
    .button:hover,
    .button:focus {
        background-color: #188CE8;
    }
    .button-bgc {
        background-color: #F5F4FA;
    }

/* Portfolio */

.filter {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-decoration: none;
}
.filter-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--secondary-text-color);
}

.filter-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    color: var(--primary-text-color);
}
.filter button:hover {
    background-color: var(--accent-color);
    cursor: pointer;
    color:#fff
}

.projects a{
    text-decoration: none;
}